doctype html
html 
    title Dance Academy 
    block style 
    block sctipt 
body 
    block content 
        nav#navbar 
            ul 
                li #[a(href = "/" ) Home]
                li #[a(href = "/" ) About]
                li #[a(href = "/" ) Services]
                li #[a(href = "/register" ) Register]
    block foot
        section#footersection 
            | copyright &copy; www.patil.com all rights reserved!