extends base.pug
block style 
    style 
        include ../files/style.css
block content
    nav#navbar 
        ul 
            li #[a(href = "/" ) Home]
            li #[a(href = "/" ) About]
            li #[a(href = "/" ) Services]
            li #[a(href = "/register" ) Register]
    .inputcontainer 
        form(action="/register",  method = "post", id = "myform") 
            input(type="text", id = "name",name  = "name", placeholder="Name")
            input(type="email", id = "email",name  = "email", placeholder="Email")
            input(type="phone", id = "phone",name  = "phone", placeholder="Phone")
            input(type="number", id = "age",name  = "age", placeholder="Age")
            textarea(name="about", cols="30", rows="10", placeholder = "More about you") 
            button submit